@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: 0;
}

.tempi{
    z-index: 1000;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    margin: 10px;
}

.tempi a{
    background: white;
    color: rgb(255, 123, 0);
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
}

.content{
    width: 100%;
    display: inline-flex;
    align-items: stretch;
}

.s1{
    width: 50%;
    background: #058A40;
}

.s2{
    width: 50%;
    background: #f2c14e;
}

p{
    margin: 0;
    align-self: center;
}

.scol code{
    align-self: center;
    text-align: center;
    padding: 5px;
    background: #06b153;
    border-radius: 5px;
}

.hat h1{
    margin: 0;
    color: 04622e;
}

.hat{
    display: block;
    background: #047638;
    padding: 2rem;
}

.scol h3{
    text-align: start;
    color: #04622e;
}

.scol ul{
    list-style: none;
    padding: 0px 0px 5px 0px;
    margin: 0;
}

.scol p{
    padding: 0px 0px 0px 5px;
    text-align: start;
}

.scol li{
    display: flex;
    background: #07c55d;
    padding: 5px;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.scol li:hover{
    transform: scale(1.1,1.1);
}


.scol{
    padding: 0px 6rem 0px 6rem;
}

.pat h1{
    margin: 0;
}

.pat{
    display: block;
    background: #efb52e;
    padding: 2rem;
}

.subcat h2{
    margin: 0;
}

.subcat{
    display: block;
    background: #efb52e;
    padding: 1rem;
    margin-top: 10px;
    border-radius: 10px;
}

.cssos code{
    align-self: center;
    text-align: center;
    padding: 5px;
    background: #e4a511;
    border-radius: 5px;
}

.cssos h3{
    text-align: start;
    color: #D19710;
}

.cssos ul{
    list-style: none;
    padding: 0px 0px 5px 0px;
    margin: 0;
}

.cssos p{
    padding: 0px 0px 0px 5px;
    text-align: start;
}

.cssos li{
    display: flex;
    background: #f1bc41;
    padding: 5px;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    transition: transform 0.3s;
}

.cssos li:hover{
    transform: scale(1.1,1.1);
}


.cssos{
    padding: 0px 6rem 0px 6rem;
}

@media only screen and (max-width: 1100px) {
    .content{
        display: block;
    }
    .s1{
        width: 100%;
    }
    .s2{
        width: 100%;
    }
}