@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin: 0;
}

.tempi{
    position: absolute;
    bottom: 0;
    right: 0;
}

.content{
    display: inline-flex;
}

.s1{
    background: rgb(192, 255, 233);
}

.s2{
    background: rgb(124, 218, 255);
}

p{
    margin: 0;
    align-self: center;
}

.scol code{
    align-self: center;
    text-align: center;
    padding: 5px;
    background: rgba(108, 255, 204, 0.400);
    border-radius: 5px;
}

.hat h1{
    margin: 0;
}

.hat{
    display: block;
    background: rgb(133, 255, 192);
    padding: 2rem;
}

.scol h3{
    text-align: start;
    color: rgb(14, 212, 140);
}

.scol ul{
    list-style: none;
    padding: 5px;
    margin: 0;
}

.scol p{
    padding: 0px 0px 0px 5px;
}

.scol li{
    display: flex;
    background: rgba(225, 255, 251, 0.9);
    padding: 5px;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
}

.scol{
    padding: 0px 6rem 0px 6rem;
}

.pat h1{
    margin: 0;
}

.pat{
    display: block;
    background: rgb(24, 201, 255);
    padding: 2rem;
}

.cssos code{
    align-self: center;
    text-align: center;
    padding: 5px;
    background: rgba(108, 167, 255, 0.4);
    border-radius: 5px;
}

.cssos h3{
    text-align: start;
    color: rgb(14, 133, 212);
}

.cssos ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.cssos p{
    padding: 0px 0px 0px 5px;
}

.cssos li{
    display: flex;
    background: rgba(133, 208, 252, 0.9);
    padding: 5px;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
}

.cssos{
    padding: 0px 6rem 0px 6rem;
}

@media only screen and (max-width: 1100px) {
    .content{
        display: block;
    }
}